
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.item_name %></td>
        <td><%= product.item_image %></td>
        <td><%= product.item_rating %></td>
        <td><%= product.price %></td>
        <td><%= product.store %></td>
        <td><%= product.item_description %></td>
        <td><%= product.item_brand %></td>
        <td><%= product.item_model %></td>
        <td><%= product.sku %></td>
        <td><%= product.display_size %></td>
        <td><%= product.Processor_type %></td>
        <td><%= product.model %></td>
        <td><%= product.warranty %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
